/.alpackages
/.snapshots
/.vscode
/app.json
/B2B SOFTWARE TECHNOLOGIES LTD_Demoproject_1.0.0.0.app
/B2B SOFTWARE TECHNOLOGIES LTD_Demoproject_1.0.0.1.app
/B2B SOFTWARE TECHNOLOGIES LTD_Demoproject_1.0.0.2.app
/B2B SOFTWARE TECHNOLOGIES LTD_Demoproject_1.0.0.3.app
/B2B SOFTWARE TECHNOLOGIES LTD_Demoproject_1.0.0.4.app
/HelloWorld.al